.dash-container {
    display: grid;
    grid-template-columns: 2.5fr 9.5fr;
    gap: 32px;

    margin: 0 auto;
    padding: 32px 64px;
    max-width: 1440px;
    height: 92vh;
}

.dash-conteudo {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    padding: 32px 24px;
}

.dash-conteudo > h1 {
    font-size: 20px;
    color: #006937;

    margin-bottom: 12px;
    margin-left: 48px;
}

.dash-sidebar {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;

    min-width: max-content;
    max-height: 88vh;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    padding: 32px 24px;
}

.perfil {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 80px;
}

.perfil > img {
    max-width: max-content;
}

.cliente {
    display: flex;
    flex-direction: column;
}

.cliente > h1 {
    font-size: 16px;
    font-weight: 600;
}

.cliente > span {
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
}

.area1 li {
    margin-bottom: 12px;
}

.area2 li {
    margin-bottom: 12px;
}

.area2 li:last-child {
    margin-bottom: 0px;
}

/* BOTÃO PADRÃO */
.btn {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 600;

    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    color: #006937;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
}

/* BOTÃO PAINEL */

.btn-painel {
    display: flex;
    gap: 16px;
    align-items: center;
}

.btn-painel::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/sistema/sidebar/painel-off.png);
}

.btn-painel:hover::before {
    background: url(../img/sistema/sidebar/painel-hover.png);
    transition: 0.4s ease;
}

/* BOTÃO LOTES */

.btn-lotes {
    display: flex;
    gap: 16px;
    align-items: center;
}

.btn-lotes::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 20px;
    background: url(../img/sistema/sidebar/lotes-off.png);
}

.btn-lotes:hover::before {
    background: url(../img/sistema/sidebar/lotes-hover.png);
    transition: 0.4s ease;
}

/* BOTÃO DADOS */

.btn-perfil {
    display: flex;
    gap: 16px;
    align-items: center;
}

.btn-perfil::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 20px;
    background: url(../img/sistema/sidebar/perfil-off.png);
}

.btn-perfil:hover::before {
    background: url(../img/sistema/sidebar/perfil-hover.png);
    transition: 0.4s ease;
}

/* BOTÃO FINANCEIRO */

.btn-financeiro {
    display: flex;
    gap: 16px;
    align-items: center;
}

.btn-financeiro::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/sistema/sidebar/financeiro-off.png);
}

.btn-financeiro:hover::before {
    background: url(../img/sistema/sidebar/financeiro-hover.png);
    transition: 0.4s ease;
}

/* BOTÃO SUPORTE */

.btn-suporte {
    display: flex;
    gap: 16px;
    align-items: center;
}

.btn-suporte::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/sistema/sidebar/suporte-off.png);
}

.btn-suporte:hover::before {
    background: url(../img/sistema/sidebar/suporte-hover.png);
    transition: 0.4s ease;
}

/* BOTÃO SAIR */

.btn-sair {
    display: flex;
    gap: 16px;
    align-items: center;
}

.btn-sair::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/sistema/sidebar/sair-off.png);
}

.btn-sair:hover::before {
    background: url(../img/sistema/sidebar/sair-hover.png);
    transition: 0.4s ease;
}

/* RESPONSIVO */

@media (max-width: 1440px) {
    .dash-container {
        padding: 3em;
        min-height: 79vh;
    }
}

@media (max-width: 1280px) {
    .dash-container {
        padding: 2em;
        min-height: 82vh;
    }
}
