/* TONS DE CINZA */

:root {
    --c00: #ffffff;
    --c05: #f5f5f5;
    --c10: #ebebeb;
    --c20: #e1e1e1;
    --c30: #c8c8c8;
    --c40: #afafaf;
    --c50: #969696;
    --c60: #7d7d7d;
    --c70: #646464;
    --c80: #4b4b4b;
    --c90: #323232;
    --c95: #191919;
    --c100: #000000;
}

/* PALETA DE CORES */

:root {
    --b1: #ebeced;
    --b2: #dadee2;
    --b3: #e1e4e6;

    --p1: #55d6a1;
    --p2: #28af8f;
    --p3: #1d8075;
    --p4: #005959;
    --p5: #004b41;

    --s1: #0094c1;
    --s2: #c64d80;
    --s3: #e6aa46;
}
