/* APRESENTAÇÃO */

.emp-intro {
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 4rem;
    align-items: end;
    margin-bottom: 10rem;
}

.emp-intro hgroup {
    margin-bottom: 2rem;
}

.intro-tipo {
    font-size: 1rem;
    font-weight: 600;
    color: var(--s2);
}

.intro-nome {
    font-size: 3rem;
    font-weight: 800;
    color: var(--p5);
    position: relative;
}

.intro-nome::before {
    content: "";
    display: inline-block;
    width: 488px;
    height: 1.5rem;
    border-radius: 4px;
    background: var(--p1);
    position: absolute;
    top: 2rem;
    left: -4px;
    z-index: -1;
}

.intro-local {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
    color: var(--c80);
    margin-top: 0.25rem;
}

.intro-texto {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--c70);

    max-width: 50ch;
    margin-bottom: 1.5rem;
}

.intro-detalhes {
    margin-bottom: 4rem;
}

.intro-detalhes summary {
    font-size: 1rem;
    font-weight: 600;
    color: var(--c60);
    margin-bottom: 0.75rem;
}

.intro-detalhes div {
    display: flex;
    gap: 2rem;
}

.intro-detalhes p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--c80);

    background-color: var(--c00);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
}

.intro-detalhes p::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
}

.detalhes-medida::before {
    background-image: url(../../img/site/empreendimentos/avoredo-tripui/icones/medida2.png);
    background-repeat: no-repeat;
}

.detalhes-valor::before {
    background-image: url(../../img/site/empreendimentos/avoredo-tripui/icones/dinheiro2.png);
    background-repeat: no-repeat;
}

.intro-conteudo button::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../../img/site/icones/agendar.png);
}

.intro-conteudo button:hover::before {
    background: url(../../img/site/icones/agendar-hover.png);
}

/* DESTAQUES */

.emp-destaques {
    background: var(--c00);
    border-radius: 1rem;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);

    padding: 3rem 7rem;
    margin-bottom: 6rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7rem;
}

.emp-destaques p {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0.25rem;
    color: var(--p4);
}

.emp-destaques strong {
    color: var(--p2);
    font-weight: 600;
}

/* FOTOS */

.emp-fotos {
    margin-bottom: 6rem;
}

.logo-emp {
    margin: 0 auto;
    margin-bottom: 6rem;
}

/* INFORMAÇÕES */

.emp-informacoes {
    padding: 0 3rem;
    margin-bottom: 6rem;
}

.emp-informacoes h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--p4);

    margin-left: 2rem;
    margin-bottom: 3rem;
}

.info-box {
    background: var(--c00);
    border-radius: 0.75rem;
    padding: 1.5rem 2rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.emp-informacoes ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.info-box h3 {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--p4);

    margin: 0.25rem 0;
}

.info-box p {
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--c70);
}

/* REGIÃO */

.emp-regiao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 3rem;
}

.emp-regiao h2 {
    font-size: 2rem;
    font-weight: 700;

    color: var(--p4);
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.emp-regiao p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--c70);

    max-width: 45ch;
    margin-bottom: 1.25rem;
}

/* BANNER */

.emp-banner {
    border-radius: 1rem;
    background-color: var(--p5);
    margin: 8rem 0;
}

.emp-banner h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--c00);

    text-align: center;
    padding: 3rem 0;
}

.emp-banner strong {
    color: var(--p1);
}

/* MAPA */

.emp-mapa {
    display: grid;
    grid-template-columns: 8fr 4fr;
    position: relative;
}

.mapa-header {
    width: 80rem;
    height: 20rem;
    background: url(/css/img/site/empreendimentos/cabeçalho.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 4rem;
    z-index: -1;
}

.mapa-arvoredo-tripui {
    background-image: url(/css/img/site/empreendimentos/avoredo-tripui/masterplan/planta-arvoredo-tripui.png);
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 1312px;
}

.quadra {
    background: var(--b3);
    max-width: max-content;
    height: max-content;
    margin: 9rem auto 0 auto;
    padding: 0.25rem;
    border-radius: 10px;
    border: 1px solid var(--c30);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.quadra-escolha {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;

    background: var(--c00);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

    font-size: 0.875rem;
    color: var(--c40);
}

.quadra-escolha::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 6px;
    background: url(../../img/site/icones/seta.png) no-repeat;
}

.quadra-escolha:hover::after {
    transform: rotate(180deg);
    transition: 0.3s;
}

.quadras-disponiveis {
    display: none;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.quadras-disponiveis li {
    background: rgba(255, 255, 255, 0.5);
    padding: 0.5rem 1.5rem;
    color: var(--c70);
}

.quadras-disponiveis li:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
}

.quadras-disponiveis li:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
}

.quadras-disponiveis li:nth-child(odd) {
    background: rgba(255, 255, 255, 0.75);
}

.quadra-infos {
    background: rgba(255, 255, 255, 0.5);
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
}

.quadra-infos th {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--c70);
    padding: 0.75rem 1rem;
}

@media (max-width: 720px) {
    .emp-mapa {
        grid-template-columns: 1fr;
    }
}
