/* INTRO */

.emp-intro {
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 4rem;
    align-items: end;
    margin-bottom: 10rem;
}

.emp-intro hgroup {
    margin-bottom: 2rem;
}

.intro-tipo {
    font-size: 1rem;
    font-weight: 600;
    color: var(--s2);
}

.intro-nome {
    font-size: 3rem;
    font-weight: 800;
    color: var(--p5);
    position: relative;
}

.intro-nome::before {
    content: "";
    display: inline-block;
    width: 488px;
    height: 1.5rem;
    border-radius: 4px;
    background: var(--p1);
    position: absolute;
    top: 2rem;
    left: -4px;
    z-index: -1;
}

.intro-local {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
    color: var(--c80);
    margin-top: 0.25rem;
}

.intro-texto {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--c70);

    max-width: 50ch;
    margin-bottom: 1.5rem;
}

.intro-detalhes {
    margin-bottom: 4rem;
}

.intro-detalhes summary {
    font-size: 1rem;
    font-weight: 600;
    color: var(--c60);
    margin-bottom: 0.75rem;
}

.intro-detalhes div {
    display: flex;
    gap: 2rem;
}

.intro-detalhes p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--c80);

    background-color: var(--c00);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
}

.intro-detalhes p::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
}

.detalhes-medida::before {
    background-image: url(../../img/site/empreendimentos/avoredo-tripui/icones/medida2.png);
    background-repeat: no-repeat;
}

.detalhes-valor::before {
    background-image: url(../../img/site/empreendimentos/avoredo-tripui/icones/dinheiro2.png);
    background-repeat: no-repeat;
}

.intro-conteudo button::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../../img/site/icones/agendar.png);
}

.intro-conteudo button:hover::before {
    background: url(../../img/site/icones/agendar-hover.png);
}

/* RESPONSIVO INTRO*/

@media (max-width: 1440px) {
    .emp-intro {
        margin-bottom: 6rem;
    }

    .intro-tipo {
        font-size: 0.875rem;
    }

    .intro-nome {
        font-size: 2.5rem;
    }

    .intro-nome::before {
        width: 25.5rem;
        height: 1rem;
    }

    .intro-local {
        font-size: 1.125rem;
    }

    .intro-texto {
        font-size: 0.875rem;
    }

    .intro-detalhes summary {
        font-size: 0.875rem;
    }

    .intro-detalhes div {
        gap: 1.5rem;
    }

    .intro-detalhes p {
        font-size: 0.875rem;
    }

    .intro-detalhes p::before {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media (max-width: 1080px) {
    .emp-intro {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10rem;
        margin-top: 1.5rem;
        gap: 1.5rem;
    }

    .intro-nome {
        font-size: 2rem;
    }

    .intro-nome::before {
        width: 20.7rem;
        height: 0.875rem;
        top: 1.5rem;
    }

    .intro-texto {
        max-width: 35ch;
    }

    .intro-detalhes div {
        gap: 1rem;
    }
}

@media (max-width: 720px) {
    .emp-intro {
        grid-template-columns: 1fr;
        margin-bottom: 3rem;
        gap: 0;
    }

    .emp-intro picture {
        position: absolute;
        top: 0px;
        z-index: -1;
    }

    .intro-conteudo {
        background: var(--c10);
        /* margin-top: 24rem; */
        padding: 2.5rem 1.5rem;
        border-radius: 1.5rem 1.5rem 0 0;
    }

    .intro-tipo {
        margin-left: 1rem;
    }

    .intro-nome {
        z-index: 0;
        margin-left: 1rem;
    }

    .intro-nome::before {
        width: 20.7rem;
        height: 0.875rem;
        top: 1.5rem;
        z-index: -1;
    }

    .intro-local {
        margin-left: 1rem;
    }

    .intro-texto {
        margin-left: 1rem;
        max-width: 40ch;
        position: relative;
    }

    .intro-texto::before {
        content: "";
        display: inline-block;
        width: 4px;
        height: 80px;
        background-color: var(--c30);
        position: absolute;
        left: -12px;
    }

    .intro-detalhes {
        margin-bottom: 3rem;
    }

    .intro-detalhes summary {
        margin-left: 1rem;
    }
}

/* DESTAQUES */

.emp-destaques {
    background: var(--c00);
    border-radius: 1rem;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);

    padding: 3rem 7rem;
    margin-bottom: 6rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7rem;
}

.emp-destaques p {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0.25rem;
    color: var(--p4);
}

.emp-destaques strong {
    color: var(--p2);
    font-weight: 600;
}

/* RESPONSIVO DESTAQUES */

@media (max-width: 1440px) {
    .emp-destaques {
        gap: 3.5rem;
    }

    .emp-destaques img {
        width: 40px;
        height: auto;
    }

    .emp-destaques p {
        font-size: 1.125rem;
    }
}

@media (max-width: 1080px) {
    .emp-destaques {
        padding: 2rem 2rem;
        gap: 1.5rem;
    }

    .emp-destaques p {
        font-size: 1rem;
    }

    .emp-destaques img {
        width: 32px;
    }
}

@media (max-width: 720px) {
    .emp-destaques {
        grid-template-columns: repeat(2, 1fr);
        margin-inline: 1.5rem;
    }
}

/* FOTOS */

.emp-fotos {
    margin-bottom: 6rem;
}

.logo-emp {
    margin: 0 auto;
    margin-bottom: 6rem;
}

/* RESPONSIVO FOTOS */

@media (max-width: 1440px) {
    .logo-emp {
        margin-bottom: 4rem;
        width: 224px;
        height: auto;
    }
}

@media (max-width: 1080px) {
    .logo-emp {
        width: 192px;
    }
}

/* INFORMAÇÕES */

.emp-informacoes {
    padding: 0 3rem;
    margin-bottom: 6rem;
}

.emp-informacoes h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--p4);

    margin-left: 2rem;
    margin-bottom: 3rem;
}

.info-box {
    background: var(--c00);
    border-radius: 0.75rem;
    padding: 1.5rem 2rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.emp-informacoes ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.info-box h3 {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--p4);

    margin: 0.25rem 0;
}

.info-box p {
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--c70);
}

/* RESPONSIVO INFORMAÇÕES */

@media (max-width: 1440px) {
    .emp-informacoes {
        padding: 0 1rem;
    }

    .emp-informacoes h2 {
        margin-bottom: 2.5rem;
    }

    .emp-informacoes ul {
        gap: 1.5rem;
    }
}

@media (max-width: 1080px) {
    .emp-informacoes {
        padding: 0;
    }

    .emp-informacoes h2 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .info-box {
        padding: 1.5rem 2rem;
    }

    .emp-informacoes ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .info-box h3 {
        font-size: 1rem;
    }
}

/* REGIÃO */

.emp-regiao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 3rem;
}

.emp-regiao h2 {
    font-size: 2rem;
    font-weight: 700;

    color: var(--p4);
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.emp-regiao p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--c70);

    max-width: 45ch;
    margin-bottom: 1.25rem;
}

/* RESPONSIVO REGIÃO */

@media (max-width: 1440px) {
    .emp-regiao {
        padding-inline: 1rem;
    }

    .emp-regiao h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .emp-regiao p {
        font-size: 0.875rem;
    }
}

@media (max-width: 1080px) {
    .emp-regiao {
        grid-template-columns: 1fr;
        padding-inline: 0;
    }

    .emp-regiao h2 {
        font-size: 1.5rem;
    }

    .emp-regiao picture {
        grid-column: 1/-1;
        margin: 0 auto;
    }
}

/* BANNER */

.emp-banner {
    border-radius: 1rem;
    background-color: var(--p5);
    margin: 8rem 0;
}

.emp-banner h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--c00);

    text-align: center;
    padding: 3rem 0;
}

.emp-banner strong {
    color: var(--p1);
}

/* RESPONSIVO BANNER */

@media (max-width: 1080px) {
    .emp-banner h2 {
        font-size: 1.5rem;
        padding: 2rem 0;
    }
}

/* MAPA */

.emp-mapa {
    display: grid;
    grid-template-columns: 8fr 4fr;
    position: relative;
    margin-inline: 5rem;
}

.emp-mapa map {
    width: 95%;
}

.mapa-header {
    width: 90rem;
    height: 20rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.quadra {
    max-width: max-content;
    height: max-content;
    margin-top: 12rem;

    background: var(--b3);
    padding: 0.25rem;
    border-radius: 10px;
    border: 1px solid var(--c30);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.quadra-escolha {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;

    background: var(--c00);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

    font-size: 0.875rem;
    color: var(--c40);
}

.quadra-escolha::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 6px;
    background: url(../../img/site/icones/seta.png) no-repeat;
}

.quadra-escolha:hover::after {
    transform: rotate(180deg);
    transition: 0.3s;
}

.quadras-disponiveis {
    display: none;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.quadras-disponiveis li {
    background: rgba(255, 255, 255, 0.5);
    padding: 0.5rem 1.5rem;
    color: var(--c70);
}

.quadras-disponiveis li:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
}

.quadras-disponiveis li:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
}

.quadras-disponiveis li:nth-child(odd) {
    background: rgba(255, 255, 255, 0.75);
}

.quadra-tabela {
    margin-top: 0.5rem;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    border-collapse: collapse;
    text-align: center;
}

thead th {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--c50);

    background: rgba(255, 255, 255, 0.5);
    padding: 0.875rem 1rem;
    width: 5rem;
}

thead .th-1 {
    border-radius: 0.5rem 0 0 0.5rem;
}

thead .th-4 {
    border-radius: 0 0.5rem 0.5rem 0;
}

tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.5);
}

tbody td {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--c70);
    padding: 0.5rem 1rem;
}

tbody td + td {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

/* RESPONSIVO MAPA */

@media (max-width: 1440px) {
    .mapa-header {
        width: 63.5rem;
    }

    .quadra {
        margin: 7rem auto 0 auto;
    }
}

@media (max-width: 1080px) {
    .emp-mapa {
        grid-template-columns: 1fr;
        /* margin-inline: 5rem; */
    }

    .emp-mapa map {
        width: 100%;
    }

    .mapa-header {
        display: none;
    }

    .quadra {
        margin-top: 2rem;
    }
}

@media (max-width: 720px) {
    .emp-mapa {
        grid-template-columns: 1fr;
    }

    .mapa-header {
        display: none;
    }

    .quadra {
        margin: 2rem auto 0 auto;
    }
}

/* SIMULADOR */

.emp-simulador {
    margin-bottom: 10rem;
    margin-left: 50%;

    display: flex;
    flex-direction: column;
}

.emp-simulador h3 {
    font-size: 1.5rem;
    color: var(--p4);
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.emp-simulador h4 {
    font-size: 1rem;
    color: var(--p3);
    margin: 0.75rem 0 0.25rem 2rem;
}

.simulador-container {
    background: var(--c05);
    border-radius: 1rem;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.simulador-container label {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--c60);
    margin-left: 0.25rem;
}

.simulador-container input {
    height: 2.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--c20);
    font-size: 1rem;
    font-weight: 500;

    padding: 6px 12px;
    width: 100%;
    box-sizing: border-box;
}

.simulador-container input:focus {
    outline: none;
    background: #fff;
    border: solid 1px var(--p2);
}

.simulador-escolha > div,
.simulador-entrada > div,
.simulador-financiamento > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.simulador-escolha {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-inline: 1rem;
}

.simulador-escolha input {
    background-color: var(--c00);
}

.simulador-entrada,
.simulador-financiamento {
    background-color: var(--c00);
    border-radius: 0.5rem;
    border: 1px solid var(--c10);
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75rem;
}

.simulador-entrada input,
.simulador-financiamento input {
    background-color: var(--c05);
}

.simulador-entrada > div:nth-child(3),
.simulador-entrada > div:nth-child(4),
.simulador-entrada > div:nth-child(5) {
    grid-row: 2;
}

.emp-simulador button {
    margin-top: 1.5rem;
    align-self: end;
}

/* RESPONSIVO SIMULADOR */

@media (max-width: 1080px) {
    .emp-simulador {
        margin-bottom: 4rem;
        margin-left: 0;
        margin-top: 2rem;
    }
}

@media (max-width: 720px) {
    .emp-simulador {
        margin-left: 0;
    }

    .emp-simulador button {
        margin-top: 1.5rem;
        align-self: initial;
    }
}
