.empreendimento-header {
    background: url(/css/img/site/empreendimentos/cabeçalho.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 64px 64px;
}

.empreendimento-container {
    display: grid;
    grid-template-columns: 8fr 4fr;

    max-width: 1568px;
    margin: 0px 112px;
}

.empreendimento-mapa {
    margin-top: 32px;
}

.empreendimento-conteudo {
    margin-top: 72px;
    position: relative;
}

.empreendimento-conteudo::before {
    content: "";
    width: 96px;
    height: 76px;
    background: url(/css/img/site/empreendimentos/villa-da-serra/logo.png);
    position: absolute;
    left: -112px;
}

.tipo-empr {
    font-style: italic;
    font-size: 24px;
    font-weight: 700;
    color: #004128;
}

.nome-empr {
    font-style: italic;
    font-size: 48px;
    font-weight: 700;
    color: #006937;
}

.local-empr {
    font-style: italic;
    font-size: 24px;
    font-weight: 600;
    color: #004128;
}

#svg-map {
    background-image: url(/css/img/site/empreendimentos/villa-da-serra/planta-villa-da-serra.png);
    background-size: 100%;
    max-width: 1060px;
}

/* QUADRA INDISPONÍVEL */
a > path {
    fill: rgba(0, 65, 40, 0.5);
}

/* QUADRA DISPONÍVEL */
a > path {
    fill: rgba(0, 255, 137, 0.2);
}

/* QUADRA HOVER */
a > path:hover {
    fill: rgba(0, 255, 137, 0.4);
    stroke: rgb(0, 255, 137);
    stroke-width: 3px;
    transition: 0.3s;
}
