/* QUADRA INDISPONÍVEL */
a > path {
    fill: rgba(0, 65, 40, 0.5);
}

/* QUADRA DISPONÍVEL */
a > path {
    fill: rgba(0, 255, 137, 0.2);
}

/* QUADRA HOVER */
a > path:hover {
    fill: rgba(0, 255, 137, 0.4);
    stroke: rgb(0, 255, 137);
    stroke-width: 3px;
    transition: 0.3s;
}
