/* RODAPÉ */

.rodape {
    height: 34rem;
    background: var(--p5) url(../img/site/home/footer-home.svg);
    background-size: 100%;
    color: var(--c05);
    padding: 4.5rem 0;
}

.rodape img {
    margin: 0 auto;
    margin-bottom: 4.5rem;
}

.rodape h2 {
    font-size: 3.5rem;
    text-align: center;
    color: var(--c00);

    margin-bottom: 3rem;
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 4rem;

    justify-content: center;
    margin-bottom: 5rem;
}

.whatsapp::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../img/site/home/icones/whatsapp.svg);
}

.whatsapp:hover::before {
    background: url(../img/site/home/icones/whatsapp-hover.svg);
}

.email::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../img/site/home/icones/email.svg);
}

.email:hover::before {
    background: url(../img/site/home/icones/email-hover.svg);
    transition: 0.3s ease;
}

.copyright {
    display: block;
    text-align: center;
}

/* RESPONSIVO */

@media (max-width: 1440px) {
    .rodape img {
        width: 10rem;
    }

    .rodape h2 {
        font-size: 2.5rem;
    }

    .button-group {
        gap: 2rem;
        margin-bottom: 6rem;
    }
}

@media (max-width: 720px) {
    .rodape {
        background-size: 300vw;
    }

    .rodape img {
        width: 8rem;
    }

    .rodape h2 {
        font-size: 2rem;
    }

    .button-group {
        flex-direction: column;
        margin-bottom: 5rem;
        place-items: center;
        gap: 1rem;
    }
}
